src/main/mule/project.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="5ffb4091-c5a2-42c2-947a-f52adcb9b25f" >
		<http:listener-connection host="0.0.0.0" port="8082" />
	</http:listener-config>
	<flow name="projectFlow" doc:id="9fb7b709-6458-4dbc-96c1-231eb67e9e34" >
		<http:listener doc:name="Listener" doc:id="3ab7514a-f47d-4842-a7ca-c86dd2bbd2d1" config-ref="HTTP_Listener_config" path="/jenkins"/>
		<logger level="INFO" doc:name="Logger" doc:id="3f550331-d8e4-41ef-b0e3-81edcb6e4516" message="#[payload]"/>
		<set-payload value='#[output application/json&#10;---&#10;&#10;{&#10;	"Message": "Jenkins"&#10;}]' doc:name="Set Payload" doc:id="35999bec-9d7b-41a4-9005-2c193574bc4e" />
	</flow>
</mule>
